certifi
chardet
coreapi
coreschema
Django
django-crispy-forms
django-filter
django-guardian
djangorestframework
idna
itypes
Jinja2
Markdown
MarkupSafe
pytz
requests
six
uritemplate
urllib3
django-cors-headers
validators
psycopg2-binary
djangorestframework-jwt
cryptography
boto3
Pillow
