certifi==2018.4.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.0
django-crispy-forms==1.7.2
django-filter==1.1.0
django-guardian==1.4.9
djangorestframework==3.8.2
idna
itypes
Jinja2
Markdown
MarkupSafe
pytz
requests
six
uritemplate
urllib3
django-cors-headers
validators
psycopg2-binary
djangorestframework-jwt
cryptography
boto3
Pillow
